@model IEnumerable<Task_ListOfEmployees.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}



<strong>List of Employees</strong>
<p>@Html.ActionLink("Add employee", "AddingEmp", "Home")</p>
<div class="table">
    
    <table>
        <tr>
            <th><p>Name</p></th>
            <th><p>Surname</p></th>
            <th><p>Age</p></th>
            <th><p>Departament</p></th>
            <th><p>Language</p></th>
            <th><p>Modifying</p></th>
        </tr>
        @foreach (var emp in Model @*ViewBag.Employees*@)
        {
        <tr>
            @*<td>@Html.DisplayFor(modelItem => emp.Name)</td>
        <td>@Html.DisplayFor(modelItem => emp.Surname)</td>
        <td>@Html.DisplayFor(modelItem => emp.Age)</td>
        <td>@Html.DisplayFor(modelItem => emp.departament)</td>*@

            <td><p>@emp.Name</p></td>
            <td><p>@emp.Surname</p></td>
            <td><p>@emp.Age</p></td>
            <td><p>@emp.departament</p></td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = emp.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = emp.Id })
            </td>
            @*<td><p><a href="/Home/ViewMyMessages/@emp.Id">Edit</a></p></td>
        <td><p><a href="/Home/ViewAllMessages/@emp.Id">Delete</a></p></td>*@
        </tr>
        }
    </table>
</div>